---
# tasks file for webserver
- name: Ensure nginx and python3-cryptography is installed
  ansible.builtin.package:
    name:
      - nginx
      - python3-cryptography
    state: present

- name: Ensure the /etc/pki/nginx directory exists
  ansible.builtin.file:
    path: /etc/pki/nginx
    state: directory
    mode: "0755"
    owner: root

- name: Ensure we have a /etc/pkig/nginx/private directory
  ansible.builtin.file:
    path: /etc/pki/nginx/private
    state: directory
    mode: "0700"
    owner: root

- name: Ensure we have a private key for our certificate
  community.crypto.openssl_privatekey:
    path: /etc/pki/nginx/private/server.key

- name: Create a self-signed certificate
  community.crypto.x509_certificate:
    path: /etc/pki/nginx/server.crt
    privatekey_path: /etc/pki/nginx/private/server.key
    provider: selfsigned

- name: Copy webserver conf file
  ansible.builtin.copy:
    src: "{{ filedir }}https.conf"
    dest: /etc/nginx/conf.d/https.conf
    mode: "0644"
    owner: root

- name: Render second webserver config file from jinja2 template
  ansible.builtin.template:
    src: "{{ filedir }}/templates/example.internal.conf.j2"
    dest: /etc/nginx/conf.d/example.internal.conf
    mode: "0755"
    owner: root
  notify: Restart nginx

- name: Create content directory
  ansible.builtin.file:
    path: /var/www/example.internal/html/
    state: directory
    mode: "0755"
    owner: root

- name: Copy over index.html
  ansible.builtin.copy:
    src: "{{ filedir }}index.html"
    dest: /var/www/example.internal/html/index.html
    mode: "0644"
    owner: root
    setype: httpd_sys_content_t
  notify: Restart nginx

- name: Create users
  ansible.builtin.user:
    append: true
    name: "{{ item.name }}"
    groups: "{{ item.groups }}"
    comment: "{{ item.gecos }}"
    password: "{{ user_password }}"
  loop: "{{ web_users }}"
  loop_control:
    label: "{{ item.name }} created and added to {{ item.name }}"
