---
- name: MariaDB-server
  hosts: db
  become: true
  tasks:
    - name: Ensure MariaDB-server is installed
      ansible.builtin.package:
        name: mariadb-server
        state: present

    - name: Start mariadb at boot
      ansible.builtin.service:
        name: mariadb
        state: started
        enabled: true

    - name: Populate service facts
      ansible.builtin.service_facts:

    - name: Print service facts
      ansible.builtin.debug:
        var: ansible_facts.services['mariadb.service']['state']
