---
- name: Add users to webserver
  hosts: web
  become: true
  vars:
    web_users:
      - name: "alovelance"
        groups: "wheel,video,audio"
        gecos: "Ada Lovelace"
      - name: "aturing"
        groups: "tape"
        gecos: "Alan Turing"
      - name: "edijkstra"
        groups: "tcpdump"
        gecos: "Edsger W. Dijkstra"
      - name: "ghopper"
        groups: "wheel,audio"
        gecos: "Grace Hopper"
    user_password: "$6$rounds=656000$mysecretsalt$0kxgm8HEMKupwaiqsqyATObY7jRM5oavpLGUE4vZvqSbK24mUDZqHPaRl9hybNYG5Oi1pIaJH9.vtHl4f9pks0"
  tasks:
    - name: Create users
      ansible.builtin.user:
        append: true
        name: "{{ item.name }}"
        groups: "{{ item.groups }}"
        comment: "{{ item.gecos }}"
        password: "{{ user_password }}"
      loop: "{{ web_users }}"
      loop_control:
        label: "{{ item.name }} created and added to {{ item.name }}"

    # - name: Test print
    #   ansible.builtin.debug:
    #     msg: "{{ web_users.0.name }} and {{ web_users.0.groups }}"
