---
- name: Firewall Configuration
  hosts: all
  become: true
  tasks:
    - name: Install required packages
      ansible.builtin.package:
        name:
          - firewalld
          - python3-firewall
        state: present

    - name: Started firewall service
      ansible.builtin.service:
        name: firewalld
        enabled: true
        state: started

    - name: Enable Firewall rules on webserver
      # Only executes on host with the exakt hostname
      when: inventory_hostname == "webserver"
      ansible.posix.firewalld:
        service: "{{ item }}"
        state: enabled
        immediate: true
        permanent: true
      loop:
        - http
        - https

    - name: Enable Firewall rules on dbserver
      # Only executes on host with the exakt hostname
      when: inventory_hostname == "dbserver"
      ansible.posix.firewalld:
        service: mysql
        state: enabled
        immediate: true
        permanent: true
